<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{asset "css/normalize.css"}}" />
  <link rel="stylesheet" href="{{asset "css/highlightjs/solarized-light.css"}}" />
  <link rel="stylesheet" href="{{asset "css/katex.min.css"}}" />
  <link rel="stylesheet" href="{{asset "css/fonts.css"}}" />
  <link rel="stylesheet" href="{{asset "css/style.css"}}" />

  {{ghost_head}}
</head>
<body>
  <div class="container">
    {{{body}}}
  </div>

  <script src="{{asset "js/highlight.pack.min.js"}}"></script>
  <script src="{{asset "js/katex.min.js"}}"></script>
  <script src="{{asset "js/auto-render.min.js"}}"></script>
  <script src="{{asset "js/scripts.js"}}"></script>

  {{ghost_foot}}
</body>
</html>
